{% extends "./base.html" %}

{% block content %}	
<h1>About Us</h1>
<p style="color:black">
    Residue Interaction Network-based ResidUe Selector (RINRUS), is a software toolkit that guides 
    selection of atoms in a protein structure to be included in the QM-cluster, QM/MM, or ONIOM model.
</p>
<br> 
<p style="color:black">
    RINRUS is written in Python and is available on the GitHub page of Dr. Qianyi Cheng:
    <a class="basicLink" href="https://github.com/MiloCheng17/RINRUS"> https://github.com/MiloCheng17/RINRUS </a>
</p>


<p style="color:black">
    Please contact Prof. Nathan DeYonker (ndyonker@memphis.edu) for more details.
</p>
{% endblock %}
